/* Normal size for videos */
iframe.embed {
	width:800px;
	height: 450px;
	overflow:hidden;

	}
iframe.medium{
	width:560px;
	height:315px;
	overflow:hidden;
}

iframe.small{
	width:300px;
	height:169px;
	overflow:hidden;
}
#fixed{
	position: fixed;
}

/* size for videos on small screens */
@media screen and  (max-width:980px) {	

	iframe.embed {

	width:300px;
	height: 169px;
	overflow:hidden;

	}
	iframe.medium{
	width:150px;
	height:100px;
	overflow:hidden;
}
	iframe.small{
		width:75px;
		height:50px;
		overflow:hidden;
	}

}